header {
  color: #454545;
}
.suph2 {
  color: rgb(26, 161, 105);
}
.mb-3 {
  color: crimson;
}
.clastexto {
  background-color: rgb(10, 4, 4);
}

.card-header {
  background-color: black;
}

.container {
  background-color: blue;
}
.formulario {
  color: crimson;
}

.divi {
  background-color: black;
}
footer {
  color: darkred;
}
article {
  background-color: darkslategray;
}
.espacios {
  background-color: rgb(116, 184, 28);
}
